.app {
	padding: 40px 0;
}

.summary {
	margin: 0 0 60px;
	padding: 8px 0;
	line-height: 1.42857143;
	vertical-align: top;
	border-bottom: 1px solid #ddd;
}

.report {
	margin: 0 0 60px;
  border: 1px solid black;
}

.files__function {
	width: 10%;
	word-wrap: break-word;
}